<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="outputHelper" class="com.pk.spring.OutputHelper">
        <property name="outputGenerator" ref="JsonOutputGenerator" />
    </bean>

    <bean id="CsvOutputGenerator" class="com.pk.spring.CsvOutputGenerator" />
    <bean id="JsonOutputGenerator" class="com.pk.spring.JsonOutputGenerator" />
</beans>